<html>
<head>
	
</head>
	<body>
		<form method="post" action="{{ url_for('data') }}">
			<fieldset>
				<legend>SAMPLE FORM</legend>
				<ul>
					<table>
						<tr><td>Cuisines:</td><td><input type="text" name="cuisine"></td></tr>
						<tr><td>Country:</td><td><input type="text" name="country"></td></tr>
						<tr><td>City:</td><td><input type="text" name="city"></td></tr>
						<tr><td>Currency:</td><td><input type="text" name="currency"></td></tr>
						<tr><td> </td><td><input type="submit" value="Submit"></td></tr>
					</table>
				</ul>
			</fieldset>
		</form>
		<p>{{message}}</p>
	</body>
</html>